/* css for Header */
* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  height: 430px;
  background-color: #2a2c41;
  color: white;
  width: 100%;
}
.logo-name {
  margin: 30px 0px 0px 30px;
}
.header-cout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-cout-className {
  position: absolute;
  top: 250px;
  color: aliceblue;
  font-size: 40px;
  font-family: cursive;
}
#header_name {
  position: absolute;
  top: 159px;
  font-size: 55px;
}
.header-middle > ul {
  display: flex;
  list-style-type: none;
}
.header-middle-li {
  margin: 25px 8px;
  padding: 7px 23px;
  font-size: 22px;
  color: white;
}
li:hover {
  background-color: #83745a;
  border-radius: 6px;
  cursor: pointer;
}
.user > ul {
  display: flex;
  list-style-type: none;
}
.user > ul > li {
  margin: 25px 8px;
  padding: 7px 23px;
  font-size: 22px;
}
.header-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
